<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>

  <!--Project 1-->
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Project Title </h5>
      <li> Featured Skills</li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>

    <!--Project 2-->
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Project Title </h5>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>

    <!--Project 3-->
    <div class="row user-projects">
        <div class="six columns">
            <!--img alt="callroutllet" src="{{ "/assets/img/callroutelett.png" | prepend: site.baseurl }}" /-->
            <img alt="callroutllet" src="/assets/img/callroutelett.png"/>
        </div>
        <div class="six columns">
            <h5> Call Roulette </h5>
            <ul>
                <li> Heroku</li>
                <li> Twilio</li>
                <li> Python</li>

                <li> </li>
            </ul>
            <p>Have you ever wonder what would happen if you call a random number. There is 10 billion combination of phone number. The app will randomly call a stranger anonymously</p>
            <a class="project-link" href="https://github.com/dungquoctrinh/CallRoulette">Check it out</a>
        </div>
    </div>
</div>
